@charset "UTF-8";

.container{
    background-color: #ccc;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.item{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
}