body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    margin: 0px;

}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

nav > a:hover{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    margin-right: 50px;
    

}

h1{

}

article{
    background-color: darkgray;
}

article > aside{
    background-color: gray;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 30px;

}

main{
background-color: white;
padding: 10px;
margin: 10px; 
border-radius: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}

footer > p{
    margin: 0px;
}

div#bola{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 30px;
    border-radius: 100px;
    
}